<section class="w-full main-container h-screen">
  <div
    class="py-3 flex flex-row justify-between items-center w-full lg:w-1/3 xl:w-1/4"
  >
    <dx-button text="Log In With Google" (onClick)="logWithGoogle()">
    </dx-button>
    <dx-button text="Sign Up" (onClick)="goToSignup()"> </dx-button>
  </div>
  <form
    (submit)="loginWithEmailAndPassword()"
    class="p-5 rounded-xl w-full lg:w-1/3 xl:w-1/4 border-2"
  >
    <dx-form [colCount]="1" labelLocation="top" [formData]="loginCredentials">
      <dxi-item dataField="email"></dxi-item>
      <dxi-validation-rule type="email"> </dxi-validation-rule>
      <!--<dxi-item dataField="password"></dxi-item>-->
      <dxi-item dataField="password" mode="password">
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dxi-item>
      <dxi-item itemType="button" [buttonOptions]="loginButtonOptions">
      </dxi-item>
    </dx-form>
  </form>
</section>
