<div class="w-full border border-blue-500">
  <app-navigation></app-navigation>
  <section class="main-container">
    <h2>Categories</h2>
    <!-- <div *ngIf="categories$ | async as categories">
      <div *ngFor="let category of categories">
        <h3>{{ category.name }}</h3>
        <p>{{ category.description }}</p>
        <img [src]="category.imageUrl" alt="Category image" />
        <dx-button text="delete" (onClick)="deleteCategory(category.id)">
        </dx-button>
      </div>
    </div>-->
    <h2>Expenses</h2>
    <!-- <div *ngIf="expenses$ | async as expenses">
      <div *ngFor="let expense of expenses">
        <p>{{ expense.amount }}</p>
        <p>{{ expense.categoryId }}</p>
        <p>{{ expense.date }}</p>
        <p>{{ expense.description }}</p>
        <dx-button text="delete" (onClick)="deleteExpense(expense.id)">
        </dx-button>
      </div>
    </div>-->
    <h2>Income</h2>
    <!-- <div *ngIf="incomes$ | async as incomes">
      <div *ngFor="let income of incomes">
        <p>{{ income.amount }}</p>
        <p>{{ income.date }}</p>
        <p>{{ income.categoryId }}</p>
        <p>{{ income.description }}</p>
        <dx-button text="delete" (onClick)="deleteIncome(income.id)">
        </dx-button>
      </div>
    </div>-->
    <!--<dx-pie-chart> </dx-pie-chart>-->
  </section>
</div>
